<table class="table table-bordered table-hover table-sm" id="users" datatable [dtOptions]="dtOptionsTest" [dtTrigger]="dtTriggerTest">
    <thead class="thead-dark">
        <tr id="list-header">
            <th>Tổng số mẫu bệnh phẩm</th>
            <th>Số mẫu được xét nghiệm hàng ngày</th>
            <th>Số mẫu dự kiên sắp tới</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let status_test of status_tests">
            <td>{{status_test.totalTest}}</td>
            <td>{{status_test.totalTestEachDay}}</td>
            <td>{{status_test.totalTestExcute}}</td>
            <td>{{status_test.totalNumberIncoming}}</td>
        </tr>
    </tbody>
    <br>
</table>
