<mat-toolbar color="primary" class="sticky">
    <mat-toolbar-row >
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span> PCR-Report </span>
        
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.xs >
            <ul fxLayout="row" fxLayoutGap="20px" >
                <li>
                    <button mat-icon-button>
                        <mat-icon>house</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>notifications_active</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                    <mat-icon>exit_to_app</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>