<form>
    <div class="form-group">
        <label>1. Tên đơn vị: 
            <input class="form-control" name="groupTextOptions" id="groupText">
        </label>
        
    </div>
    <div class="form-group">
        <label>2. Địa chỉ: </label>
        <div class="row">
            <div class="col-lg-2 col-md-4">
                <select class="mdb-select colorful-select dropdown-info mx-2 form-control">
    <option value="1">Miền bắc</option>
    <option value="2">Miền Trung</option>
    <option value="3">Miền Nam</option>
  </select>
            </div>
            <div class="col-lg-2 col-md-6 select1">
                <select class="mdb-select colorful-select dropdown-info mx-2 form-control ">
    <option value="1">Hà Nội</option>
    <option value="2">Đà Nẵng</option>
    <option value="3">HCM </option>
    <option value="4">Cần Thơ</option>
  </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>3. Tên Trưởng khoa Xét nghiệm:
            <input class="form-control" name="groupTextOptions" id="groupText">
        </label>
        
    </div>
    <div class="form-group">
        <label>4. Email: 
            <input type="email" name="groupTextOptions" id="groupText" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </label>
        
    </div>
    <div class="form-group">
        <label>5. Điện thoại: 
            <input class="form-control" name="groupTextOptions" id="groupText">
        </label>
        
    </div>
    <div class="form-group">
        <label class="label1">6. Đơn vị có triển khai xét nghiệm SARS-COV-2: </label>
        <div class="form-check form-check-group">
            <input class="form-check-input" type="radio" name="groupRadioOptions" id="groupRadio1" value="option1">
            <label class="form-check-label" for="groupRadio1"> Có</label>
        </div>
        <div class="form-check form-check-group">
            <input class="form-check-input" type="radio" name="groupRadioOptions" id="groupRadio2" value="option2">
            <label class="form-check-label" for="groupRadio2">Không</label>
        </div>
    </div>
    <div class="form-group">
        <label>7. Là đơn vị xét nghiệm: </label>
        <div class="form-check form-check-group">
            <input class="form-check-input" type="radio" name="groupRadioOptions" id="groupRadio3" value="option3">
            <label class="form-check-label" for="groupRadio3">Sàng lọc</label>
        </div>
        <div class="form-check form-check-group">
            <input class="form-check-input" type="radio" name="groupRadioOptions" id="groupRadio4" value="option4">
            <label class="form-check-label" for="groupRadio4">Khẳng định</label>
        </div>
    </div>
</form>
