<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-branch" href="index.html">
            <img src="../assets/images/logo.jpg" height="70">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
  <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <form class="form-inline mr-auto">
                <input class="form-control" type="text" placeholder="something..." aria-label="Search">
                <button class="btn btn-success btn-rounded btn-sm my-0 ml-sm-2" type="submit">Search</button>
            </form>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/student-list']" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/student-list']" routerLinkActive="active">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/student-list']" routerLinkActive="active">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/student-list']" routerLinkActive="active">Buy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Carousel -->
<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
        <li data-target="#slides" data-slide-to="3"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../assets/images/car.jpg">
            <div class="carousel-caption">
                <h1 class="display-2">Lamborghini</h1>
                <h2>Car Service</h2>

            </div>
        </div>
        <div class="carousel-item">
            <img src="./assets/images/car1.jpg">
        </div>
        <div class="carousel-item">
            <img src="./assets/images/car2.jpg">
        </div>
        <div class="carousel-item">
            <img src="./assets/images/car3.jpg">
        </div>
    </div>
</div>
<!-- jumbotron -->
<div class="container-fluid">
    <div class="jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <h2>Our Car VIP</h2>
            <p>Our dream was to create a one-of-a-kind open-top car. We made it come true with the Lamborghini Aventador Roadster, an unrivaled gem of a supercar. Equipped with an exclusive technology package, the jewel in this car's crown is its carbon
                fiber monocoque. The elegance and vanity of a Roadster meet the power of a naturally aspirated 6.5 liter V-12 engine putting out 515 kW (700 CV), with incredible torque available at all engine speeds. The Aventador Roadster is an open-top
                supercar that combines sportiness and style. Discover the technical specifications and the full features of the Lamborghini Aventador Roadster.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 style="text-align: center">List of Cars</h1><br>
            <div class="row" [hidden]="!deleteMessage">

                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Car Data Deleted</strong>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-5">
                <label>Search:</label>
                <input type="text" [(ngModel)]="student.search" />
            </div>
        </div> -->
        <div class="panel-body">
            <table class="table table-hover table-sm" id="users" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead class="thead-dark">
                    <tr id="list-header">
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students ">
                        <td>{{student.student_name}}</td>
                        <td>{{student.student_email}}</td>
                        <td>{{student.student_branch}}</td>
                        <td>
                            <button (click)="deleteStudent(student.student_id)" class='btn btn-danger'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                            <button (click)="updateStudent(student.student_id)" class='btn btn-info' data-toggle="modal" data-target="#myModal">Update</button>&nbsp;
                            <button [routerLink]="['/add-student']" class='btn btn-success'>Add</button>
                        </td>
                    </tr>
                </tbody>
                <br>
            </table>
            <button type="button" class="btn btn-primary" id="btnReloadData">Reload data</button>
        </div>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="studentupdateform" #updstu (ngSubmit)="updateStu(updstu)">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align: center">Update Car</h4>

                </div>

                <!-- Modal body -->
                <div class="modal-body" *ngFor="let student of studentlist ">
                    <div [hidden]="isupdated">

                        <input type="hidden" class="form-control" formControlName="student_id" [(ngModel)]="student.student_id">
                        <div class="form-group">
                            <label for="name"> Name</label>
                            <input type="text" class="form-control" formControlName="student_name" [(ngModel)]="student.student_name">
                        </div>

                        <div class="form-group">
                            <label for="name">Price</label>
                            <input type="text" class="form-control" formControlName="student_email" [(ngModel)]="student.student_email">
                        </div>

                        <div class="form-group">
                            <label for="name">Description</label>
                            <select class="form-control" formControlName="student_branch" required>
                                    <option value="B-Tech" [selected]="'B-Tech' == student.student_branch">B-Tech</option>
                                    <option value="BCA" [selected]="'BCA' == student.student_branch">BCA</option>
                                    <option value="MCA" [selected]="'MCA' == student.student_branch">MCA</option>
                                    <option value="M-Tech" [selected]="'M-Tech' == student.student_branch">M-Tech</option>
                            </select>
                        </div>
                    </div>
                    <div [hidden]="!isupdated">
                        <h4>Car Detail Updated!</h4>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row welcome text-center">
        <div class="col-12">
            <h5 class="display-4">View our Lamborghini</h5>
        </div>
    </div>
</div>
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="../assets/images/car2.jpg">
                <div class="card-body">
                    <h5 class="card-title">Lamborghini aventador luxury </h5>
                    <p class="card-text">-BrandVG: TECH</p>
                    <p>-Compatible Laptop Screen Size: 39.6 cm (15.6)</p>
                    <p>-Pack of: 1</p>
                    <p>-(mm): 1</p>
                    <p>-Pad Included: No</p>
                    <a [routerLink]="['/student-list']" routerLinkActive="active" class="btn btn-outline-secondary">See more...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="../assets/images/car3.jpg">
                <div class="card-body">
                    <h5 class="card-title">
                        Lamborghini Aventador lp700-4</h5>
                    <p class="card-text">-BrandVG: TECH</p>
                    <p>-Compatible Laptop Screen Size: 39.6 cm (15.6)</p>
                    <p>-Pack of: 1</p>
                    <p>-(mm): 1</p>
                    <p>-Pad Included: No</p>
                    <a [routerLink]="['/student-list']" routerLinkActive="active" class="btn btn-outline-secondary">See more...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="../assets/images/car7.jpg">
                <div class="card-body">
                    <h5 class="card-title">
                        Lamborghini Aventador lp700-4</h5>
                    <p class="card-text">-BrandVG: TECH</p>
                    <p>-Compatible Laptop Screen Size: 39.6 cm (15.6)</p>
                    <p>-Pack of: 1</p>
                    <p>-(mm): 1</p>
                    <p>-Pad Included: No</p>
                    <a [routerLink]="['/student-list']" routerLinkActive="active" class="btn btn-outline-secondary">See more...</a>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="my-4">
<!-- </div> -->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-12 col-lg-6">
            <h2>EXTERIOR DESIGN...</h2>
            <p>Another important innovation introduced in the Lamborghini Aventador Roadster is the dual color tone: the frame of the windscreen and the area surrounding the rear window up to the "fins" are finished in gloss black. The visual effect is one
                of a completely open car, featuring lines which meld sportiness and elegance in breathtaking harmony.</p>
            <div id="piechart"></div>
        </div>
        <div class="col-lg-6">
            <img src="../assets/images/car4.jpg" class="img-fluid">
        </div>
    </div>
</div>
<hr class="my-4">
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-12 col-lg-6">
            <h2>Lamborghini Aventador SV</h2>
            <p>After taking delivery of a new Lamborghini Aventador SV earlier this year, he decided to wrap it in a deep woods motif for this year’s Gumball 3000. In a YouTube video uploaded earlier today, Marchettino has revealed the wild LP 750 being
                unloaded for a leg of the rally. </p>
            <figure class="highcharts-figure">
                <div id="container-chart"></div>
                <p class="highcharts-descriptionription"></p>
            </figure>
            <br>
        </div>
        <div class="col-lg-6">
            <img src="../assets/images/car6.jpg" class="img-fluid">
        </div>
    </div>
</div>

<div class="container-fluid padding">
    <hr class="my-4">
</div>
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-12">
            <h2>Contact us</h2>
        </div>
        <div class="col-12 social padding">
            <a [routerLink]="['/student-list']" routerLinkActive="active"><i class="fab fa-facebook"></i></a>
            <a [routerLink]="['/student-list']" routerLinkActive="active"><i class="fab fa-google-plus-g"></i></a>
            <a [routerLink]="['/student-list']" routerLinkActive="active"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>
<hr class="my-4">
<footer class="footer">
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <hr class="light">
                <h5>@Daofficial</h5>
                <hr class="light">
                <p>888-000-111</p>
                <p>daofficial88@gmail.com</p>
                <p>Cau Giay street, Hanoi, Vietnam</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Working hours</h5>
                <hr class="light">
                <p>Monday-Friday: 8am - 5pm</p>
                <p>Weekend: 8am - 12am</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Services</h5>
                <hr class="light">
                <p>Upgrade</p>
                <p>Car development</p>
                <p>Guarantee</p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&copy; Daofficial</h5>
            </div>
        </div>
    </div>
</footer>