<div class="form-group" style="margin: 10px; margin-top: 0px;">
    <!-- <b>Tên sinh phẩm (theo QĐ-2245 BYT-DP)</b> -->
    <select class="form-control">
        <option value="QIAamp Viral RNA Mini QIAcube Kit" name="qiaamp">QIAamp Viral RNA Mini QIAcube Kit</option>
        <option name="other">Khác</option>
    </select>

    <!-- <b>Số sinh phẩm đã sử dụng </b> -->
    <input  type="text" class="form-control" >

    <!-- <b>Số sinh phẩm còn </b> -->
    <input  type="text" class="form-control" >

    <!-- <b>(Số sinh phẩm cần bổ sung) </b> -->
    <input  type="text" class="form-control" >

    <!-- <b>Ghi Chú</b> -->
    <input  type="text" class="form-control" >

    <i class="far fa-trash-alt" width="15" height="15" title="Remove" (click)="removeChemical1()"></i>
</div>
