<!-- <div class="form-group" style="margin: 10px; margin-top: 0px;">

  <select formGroupName="deviceName" class="form-control form-control1">
    <option value="null">--Select--</option>
      <option value="Qiagen" name="qiagen">Qiagen</option>
      <option value="Roche Cobas 4800" name="roche_cobas_4800">Roche Cobas 4800</option>
      <option name="other">Khác</option>
  </select>

  <input formGroupName="startUsingDate"  type="date" class="form-control form-control2" >

  <select formGroupName="devicePurpose" class="form-control form-control3">
      <option value="VGB/HIV" name="vgb_hiv">VGB/HIV</option>
      <option value="Xét nghiệm COVID-19" name="covid_19">Xét nghiệm COVID-19</option>
      <option name="other">Khác</option>
  </select>

  <input formGroupName="testEachTime"  type="text" class="form-control form-control4" >

  <input formGroupName="testEachDay"  type="text" class="form-control form-control5" >

  <input formGroupName="note"  type="text" class="form-control form-control6" >

  <i class="far fa-trash-alt" width="15" height="15" title="Remove" (click)="removeDevice()"></i>
</div> -->

<div class="form-group" style="margin: 10px; margin-top: 0px;">

    <select [(ngModel)]="surveyInfo.devices.deviceName" class="form-control form-control1">
      <option value="null">--Select--</option>
      <option value="Qiagen" name="qiagen">Qiagen</option>
      <option value="Roche Cobas 4800" name="roche_cobas_4800">Roche Cobas 4800</option>
      <option value="khác" name="other">Khác</option>
  </select>

    <input [(ngModel)]="surveyInfo.devices.startUsingDate" type="date" class="form-control form-control2">

    <select [(ngModel)]="surveyInfo.devices.devicePurpose" class="form-control form-control3">
      <option value="null">--Select--</option>
      <option value="VGB/HIV" name="vgb_hiv">VGB/HIV</option>
      <option value="Xét nghiệm COVID-19" name="covid_19">Xét nghiệm COVID-19</option>
      <option value="khác" name="other">Khác</option>
  </select>

    <input [(ngModel)]="surveyInfo.devices.testEachTime" type="text" class="form-control form-control4">

    <input [(ngModel)]="surveyInfo.devices.testEachDay" type="text" class="form-control form-control5">

    <input [(ngModel)]="surveyInfo.devices.note" type="text" class="form-control form-control6">

    <i class="far fa-trash-alt" width="15" height="15" title="Remove" (click)="removeDevice()"></i>
</div>