<form>
    <div class="form-group">
        <label>1. Số mẫu xét nghiệm SARS-COV-2 thu nhập từ ngày 21 tháng 1 năm 2020 đến nay:
          <input class="form-control" name="groupTextOptions" id="groupText">
        </label>
    </div>
    <div class="form-group">
        <label>2. Số mẫu xét nghiệm SARS-COV-2 đã chuyển đến đơn vị khác:
          <input class="form-control" name="groupTextOptions" id="groupText">
        </label>
    </div>
    <div class="form-group">
        <label>7. Là đơn vị xét nghiệm: </label>
        <div class="form-check form-check-group">
            <input class="form-check-input" type="radio" name="groupRadioOptions" id="groupRadio1" value="option1">
            <label class="form-check-label" for="groupRadio1">NIHE</label>
        </div>
        <div class="form-check form-check-group">
            <input class="form-check-input" type="radio" name="groupRadioOptions" id="groupRadio2" value="option2">
            <label class="form-check-label" for="groupRadio2">Pasteur HCM </label>
        </div>
        <div class="form-check form-check-group">
            <input class="form-check-input" type="radio" name="groupRadioOptions" id="groupRadio3" value="option3">
            <label class="form-check-label" for="groupRadio3">Pasteur Nha Trang</label>
        </div>
        <div class="form-check form-check-group">
            <input class="form-check-input" type="radio" name="groupRadioOptions" id="groupRadio4" value="option4">
            <label class="form-check-label" for="groupRadio4">TIHE </label>
        </div>
        <div class="form-check form-check-group">
            <input class="form-check-input" type="radio" name="groupRadioOptions" id="groupRadio5" value="option5">
            <label class="form-check-label" for="groupRadio5">Khác (ghi rõ) </label>
            <input class="form-control text1" name="groupTextOptions" id="groupText">
        </div>
    </div>
    <div class="form-group">
        <label>4. Số mẫu thực hiện xét nghiệm tại đơn vị:
        <input class="form-control" name="groupTextOptions" id="groupText">
      </label>
    </div>
    <div class="form-group">
        <label>5. Số mẫu trung bình được xét nghiệm hàng ngày:
      <input class="form-control" name="groupTextOptions" id="groupText">
    </label>
    </div>
    <div class="form-group">
        <label>6. Số mẫu xét nghiệm SARS-COV-2 dự kiến sắp tới
    <input class="form-control" name="groupTextOptions" id="groupText">
  </label>
    </div>
</form>
