<div class="form-group" style="margin: 10px; margin-top: 0px;">

    <select class="form-control form-control1">
        <option value="Miracle AutoXT-Hàn Quốc" name="miracle_autoxt">Miracle AutoXT-Hàn Quốc</option>
        <option value="DNA/RNA KingFisher Duo Prime" name="king_fisher">DNA/RNA KingFisher Duo Prime</option>
        <option name="other">Khác</option>
    </select>
  
    <input  type="date" class="form-control form-control2" >
  
    <select class="form-control form-control3">
        <option value="VGB/HIV" name="vgb_hiv">VGB/HIV</option>
        <option value="Xét nghiệm COVID-19" name="covid_19">Xét nghiệm COVID-19</option>
        <option name="other">Khác</option>
    </select>
  
    <input  type="text" class="form-control form-control4" >
  
    <input  type="text" class="form-control form-control5" >
  
    <input  type="text" class="form-control form-control6" >
  
    <i class="far fa-trash-alt" width="15" height="15" title="Remove" (click)="removeDevice1()"></i>
  </div>
