<body>
    <div class="cont">
        <div class="form sign-in">
            <h2>Sign In</h2>
            <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="onSubmitLogin()" #f="ngForm">
                <label>
            <span>Username</span>
            <input type="text " name="username " [(ngModel)]="loginModel.username " required minlength="3" maxlength="20" #username="ngModel">
        </label>
                <label>
          <span>Password</span>
          <input type="password "  name="password " [(ngModel)]="loginModel.password " required minlength="6 ">
        </label>
            
            <button (click)="onSubmitLogin()" class=" submit " type="button ">Sign In</button>
        </form>
            <div class="social-media">
                <ul>
                    <li><img src="./assets/images/facebook.png "></li>
                    <li><img src="./assets/images/twitter.png "></li>
                    <li><img src="./assets/images/linkedin.png "></li>
                    <li><img src="./assets/images/instagram.png "></li>
                </ul>
            </div>
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img-text m-up">
                    <h2>New here?</h2>
                    <p>Sign up and discover great amount of new opportunities!</p>
                </div>
                <div class="img-text m-in">
                    <h2>One of us?</h2>
                    <p>If you already has an account, just sign in. We've missed you!</p>
                </div>
                <div class="img-btn" (click)="signupButton() ">
                    <span class="m-up">Sign Up</span>
                    <span class="m-in">Sign In</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>Sign Up</h2>
                <form *ngIf="!isSuccessful " name="form " (ngSubmit)=" onSubmitSignup()">
                    <label>
                    <span>User Name</span>
                  <input type="text "  name="name " [(ngModel)]="signModel.username ">
                </label>
                    <label>
                      <span>Email</span>
                      <input type="email "  name="email " [(ngModel)]="signModel.email ">
                    </label>
                    <label>
                  <span>Password</span>
                  <input type="password "  name="password " [(ngModel)]="signModel.password " required minlength="6 ">
                </label>
                    <label>
                  <select (change)="changeRole($event) ">
                      <option value="user ">USER</option>
                      <option value="admin ">ADMIN</option>
                  </select>
                </label>
                    <button (click)="onSubmitSignup() " type="button " class="submit ">Sign Up Now</button>
                </form>
            </div>
        </div>
    </div>
</body>