<table class="table table-bordered table-hover table-sm" id="users" datatable [dtOptions]="dtOptionsEmployee" [dtTrigger]="dtTriggerEmployee">
    <thead class="thead-dark">
        <tr id="list-header">
            <th>Số các bộ tham gia thực hiện</th>
            <th>Số các bộ đã được đào tạo</th>
            <th>Số các bộ đã được đào tạo thêm</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of listEmployee">
            <td>{{employee.totalEmployeeTest}}</td>
            <td>{{employee.totalEmployeePCR}}</td>
            <td>{{employee.totalEmployeeIncoming}}</td>
        </tr>
    </tbody>
    <br>
</table>
