.bs-example {
    margin: 20px;
}

.accordion .fa {
    margin-right: 0.5rem;
}

.mt-1 {
    color: #ece9e9;
    font-size: 18px;
}

.card-header {
    background-color: rgb(23, 87, 81);
}

.card-header:hover {
    background-color: rgb(173, 132, 90);
}

.h4-tag {
    padding-top: 60px;
    padding-bottom: 10px;
    text-align: center;
}

.A-gen-info {
    background-color: slategray;
}

.form-check {
    margin-left: 10px;
    margin-top: 5px;
}

.text1 {
    margin-left: 10px;
}

.btn1 {
    margin-top: 10px;
    margin-left: 400px;
}

.btn {
    margin-left: 10px;
}

.form-control {
    margin-left: 10px;
    margin-top: 10px;
}

.select1 {
    margin-left: 100px;
}

.label1 {
    margin-top: 10px;
}

.mx-2 {
    padding: center;
}
