<h4 class="h4-tag">BÁO CÁO THỰC TRẠNG XÉT NGHIỆM SARS-COV-2</h4>
<!-- <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                A. Thông Tin Chung
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-label>Area...</mat-label>
        <mat-select *ngIf="!deviceXs">
            <mat-option value="option1">Miền Bắc</mat-option>
            <mat-option value="option2">Miền Trung</mat-option>
            <mat-option value="option3">Miền Nam</mat-option>
        </mat-select>

        <mat-label>Virus Type...</mat-label>
        <mat-select *ngIf="!deviceXs">
            <mat-option value="option1">SARS-COV-2</mat-option>
            <mat-option value="option2">EBONA</mat-option>
            <mat-option value="option3">CANCER</mat-option>
        </mat-select>
    </mat-expansion-panel>
</mat-accordion> -->