<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>Menu</mat-icon>
        </button>
        <span>APP LOGO</span>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>Settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                      <mat-icon>Helps</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                      <mat-icon>Person</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>Exit to app</mat-icon>
                          Sign Out
                        </button>
                        <button mat-menu-item>
                          <mat-icon><i class="fa fa-user" aria-hidden="true"></i></mat-icon>
                          Profile
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>