<!-- <div class="form-group">

        <input formGroupName="chemicalName" type="text" class="form-control form-control1" >

        <input formGroupName="chemicalNumberUsed" type="text" class="form-control form-control2" >

        <input formGroupName="chemicalNumberLeft" type="text" class="form-control form-control3" >

        <input formGroupName="chemicalnumberNeed" type="text" class="form-control form-control4" >

        <input formGroupName="note" type="text" class="form-control form-control5" >

        <i class="far fa-trash-alt" width="15" height="15" title="Remove" (click)="removeChemical2()"></i>
    </div> -->

<div class="form-group">

    <input [(ngModel)]="surveyInfo.chemicals.chemicalName" type="text" class="form-control form-control1">

    <input [(ngModel)]="surveyInfo.chemicals.chemicalNumberUsed" type="text" class="form-control form-control2">

    <input [(ngModel)]="surveyInfo.chemicals.chemicalNumberLeft" type="text" class="form-control form-control3">

    <input [(ngModel)]="surveyInfo.chemicals.chemicalnumberNeed" type="text" class="form-control form-control4">

    <input [(ngModel)]="surveyInfo.chemicals.note" type="text" class="form-control form-control5">

    <i class="far fa-trash-alt" width="15" height="15" title="Remove" (click)="removeChemical2()"></i>
</div>