

    <div class="form-group">
        
            <input type="text" class="form-control form-control1" >
      
            <input type="text" class="form-control form-control2" >
      
        
            <input type="text" class="form-control form-control3" >
    
        
            <input type="text" class="form-control form-control4" >
      
        
            <input type="text" class="form-control form-control5" >
  
        <i class="far fa-trash-alt" width="15" height="15" title="Remove" (click)="removeChemical2()"></i>
    </div>
