<div class="form-group" style="margin: 10px; margin-top: 0px;">
    <!-- <b>Tên sinh phẩm (theo QĐ-2245 BYT-DP)</b> -->
    <select class="form-control">
        <option value="WizDx-COVID-19 Crystal Mix PCR kit" name="wizdx">WizDx-COVID-19 Crystal Mix PCR kit</option>
        <option value="Berlin Procedure" name="berlin">Berlin Procedure</option>
        <option value="LightPower iVASARS-COV2 1stRT-rPCR Plus Kit" name="light_power">LightPower iVASARS-COV2 1stRT-rPCR Plus Kit</option>
        <option name="other">Khác</option>
    </select>

    <!-- <b>Số sinh phẩm đã sử dụng </b> -->
    <input  type="text" class="form-control" >

    <!-- <b>Số sinh phẩm còn </b> -->
    <input  type="text" class="form-control" >

    <!-- <b>(Số sinh phẩm cần bổ sung) </b> -->
    <input  type="text" class="form-control" >

    <!-- <b>Ghi Chú</b> -->
    <input  type="text" class="form-control" >

    <i class="far fa-trash-alt" width="15" height="15" title="Remove" (click)="removeChemical()"></i>
</div>
