<div class="row">

    <div class="form-group">
        <!-- <b>Tên sinh phẩm (theo QĐ-2265 BYT-DP)</b> -->
        <div class="col-lg-2 col-md-6">
            <select class="form-control" style="width: 90%; margin-left: 10px;">
          <option value="WizDx-COVID-19 Crystal Mix PCR kit" name="wizdx">WizDx-COVID-19 Crystal Mix PCR kit</option>
          <option value="Berlin Procedure" name="berlin">Berlin Procedure</option>
          <option value="LightPower iVASARS-COV2 1stRT-rPCR Plus Kit" name="light_power">LightPower iVASARS-COV2 1stRT-rPCR Plus Kit</option>
          <option name="other">Khác</option>
        </select>
        </div>

        <div class="col-lg-2 col-md-6">
            <input type="text" class="form-control" style="width: 90%; margin-left: 30px;">
        </div>
        <div class="col-lg-2 col-md-6">
            <input type="text" class="form-control" style="width: 90%; margin-left: 25px;">
        </div>
        <div class="col-lg-2 col-md-6">
            <input type="text" class="form-control" style="width: 90%; margin-left: 30px;">
        </div>
        <div class="col-lg-2 col-md-6">
            <input type="text" class="form-control" style="width: 90%; margin-left: 30px;">
        </div>

        <i class="far fa-trash-alt" width="15" height="15" title="Remove" (click)="removeChemical()"></i>
    </div>


</div>
