.form-control1 {
    margin-left: 30px;
    margin-right: 5px; 
    width: 12%;
}
.form-control2 {
    margin-left: 20px;
    margin-right: 5px;
    width: 14%;
}
.form-control3 {
    margin-left: 30px;
    margin-right: 5px;
    width: 13%;
}
.form-control4 {
    margin-left: 30px;
    margin-right: 5px;
    width: 12%;
}
.form-control5 {
    margin-left: 35px;
    margin-right: 5px;
    width: 13%;
}


