<table class="table table-hover table-sm" id="users" datatable [dtOptions]="dtOptionsChemical" [dtTrigger]="dtTriggerChemical">
    <thead class="thead-dark">
        <tr id="list-header">
            <th>Tên Sinh Phẩm</th>
            <th>Số lượng đã nhận trong quý</th>
            <th>Số lượng đã sử dụng</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let chemical of chemicals">
            <td>{{chemical.chemical_name}}</td>
            <td>{{chemical.chemical_needd}}</td>
            <td>{{chemical.chemical_number_usedd}}</td>
        </tr>
    </tbody>
    <br>
</table>
