<table class="table table-bordered table-hover table-sm" id="users" datatable [dtOptions]="dtOptionsChemical" [dtTrigger]="dtTriggerChemical">
    <thead class="thead-dark">
        <tr id="list-header">
            <th>Tên Sinh Phẩm</th>
            <th>Số lượng đã nhận trong quý</th>
            <th>Số lượng đã sử dụng</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let chemical of listChemical">
            <td>{{chemical.chemicalName}}</td>
            <td>{{chemical.totalChemical}}</td>
            <td>{{chemical.totalChemicalUsed}}</td>
        </tr>
    </tbody>
    <br>
</table>
