<form>
    <div class="form-group">
        <label>1. Số mẫu xét nghiệm SARS-COV-2 thu nhập từ ngày 21 tháng 1 năm 2020 đến nay:
      <input class="form-control" name="groupTextOptions" id="groupText">
    </label>
    </div>
    <div class="form-group">
        <label>2. Số cán bộ được đào tạo xét nghiệm SARS-COV-2 sử dụng máy RealTime-PCR
      <input class="form-control" name="groupTextOptions" id="groupText">
    </label>
    </div>
    <div class="form-group">
        <label>3. Quy trình xét nghiệm SARS-COV-2 được đào tạo:
          <div class="form-check form-check-group">
            <input class="form-check-input" type="radio" name="groupRadioOptions" id="groupRadioWHO" value="option3">
            <label class="form-check-label" for="groupRadioWHO">WHO </label>
    </div>
    <div class="form-check form-check-group">
        <input class="form-check-input" type="radio" name="groupRadioOptions" id="groupRadioVietA" value="option4">
        <label class="form-check-label" for="groupRadioVietA">Việt Á </label>
    </div>
    <div class="form-check form-check-group">
        <input class="form-check-input" type="radio" name="groupRadioOptions" id="groupRadioOther" value="option5">
        <label class="form-check-label" for="groupRadioOther">Khác (ghi rõ) </label>
        <input class="form-control text1" name="groupTextOptions" id="groupText">
    </div>
    </label>
</div>
<div class="form-group">
<label>4. Nơi đào tạo: </label>
<div class="form-check form-check-group">
    <input class="form-check-input" type="radio" name="groupRadioOptions" id="groupRadioNIHE" value="option1">
    <label class="form-check-label" for="groupRadioNIHE">NIHE</label>
</div>
<div class="form-check form-check-group">
    <input class="form-check-input" type="radio" name="groupRadioOptions" id="groupRadioHCM" value="option2">
    <label class="form-check-label" for="groupRadioHCM">Pasteur HCM </label>
</div>
<div class="form-check form-check-group">
    <input class="form-check-input" type="radio" name="groupRadioOptions" id="groupRadioNT" value="option3">
    <label class="form-check-label" for="groupRadioNT">Pasteur Nha Trang</label>
</div>
<div class="form-check form-check-group">
    <input class="form-check-input" type="radio" name="groupRadioOptions" id="groupRadioTIHE" value="option4">
    <label class="form-check-label" for="groupRadioTIHE">TIHE </label>
</div>
<div class="form-check form-check-group">
    <input class="form-check-input" type="radio" name="groupRadioOptions" id="groupRadioOther1" value="option5">
    <label class="form-check-label" for="groupRadioOther1">Khác (ghi rõ) </label>
    <input class="form-control text1" name="groupTextOptions" id="groupText">
</div>
</div>
<div class="form-group">
<label>5. Số mẫu trung bình được xét nghiệm hàng ngày:
  <input class="form-control" name="groupTextOptions" id="groupText">
</label>
</div>
</form>